body{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(background_image.jpg);
  }
  h1[id="title"]{
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: "New Century Schoolbook", "TeX Gyre Schola", "serif";
    color: #680465;
    font-weight: bolder;
  }
  p[id="description"]{
    font-style: italic;
    text-align: center;
    color: #680465;
    margin-top: 0.5em;
  }
  form{
    margin: 0 auto;
    width: 80vw;
    background-color: #680465;
    color: white;
    }
  fieldset{
    border: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  label{
    width: 95%;
    margin: 0.5em 1em;
    display: block;
  }
  input, textarea, select{
    width: 98%;
    vertical-align: middle;
    color: white;
    border: none;
    background-color: #422742;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
  }
  textarea{
    height: 3em;
  }
  .inline{
    width: unset;
  }
  input[type="submit"]{
    width: 50%;
    margin: auto 25%;
    background-color:	#2f022f;
    border: none;
    color: white;
    font-size: 20px;
    vertical-align: center;
  }
  .footer{
    width: 100%;
    background-color: 	#DA70D6;
  }
  p{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0.5em auto;
  }
